.contentmain{
    display:flex;
}
.main-one{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:minmax(180px,auto);
    width:100%;
    gap:16px;
    min-height:220px;
    padding:28px 0px;
}

.box-one{
    grid-column: span 2;
    grid-row:span 1;
}
.box-two{
    grid-column: span 2;
    grid-row:span 1;
}