.contentmain{
    display:flex;
    flex-wrap:wrap;
}
.main-one{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    max-width:100%;
    gap:12px;
    min-height:220px;
    padding:28px 0px;
}
.box-one{
    grid-column:span 2;
    grid-row:span 1;
}
.box-two{
    grid-column: span 2;
    grid-row:span 1;
}
.main-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:100%;
}
.box-three{
    grid-column: span 1;
    grid-row:span 3;
    width:480px;
    min-height:220px;
}
.box-four{
    grid-column:span 1;
    grid-row:span 1;
    width:700px;
    margin-bottom:28px;
}.
.box-five:{
    grid-column:span 1;
    grid-row: span:2;

}