.contentmain{
    display:flex;
}
.main-one{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    max-width:100%;
    gap:12px;
    min-height:220px;
    padding:28px 0px;
}
.box-one{
    grid-column:span 2;
    grid-row:span 1;
}
.box-two{
    grid-column: span 2;
    grid-row:span 1;
}
.main-two{
}
.box-three{
    grid-column: span 1;
    grid-row:span 3;
    width:35%;
    float:left;
    min-height:220px;
}
.box-four{
    grid-column:span 1;
    grid-row:span 2;
    width:61%;
    float:left;
    margin-left:46px;
    min-height:220px;
    max-width:100%;
}